[Unit]
Description=tgbot Shared Shopping Cart
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/java -jar /home/semyon/.local/tgbot-shopping-cart/tgbot-shopping-cart.jar
SuccessExitStatus=143
Restart=on-failure

StandardOutput=journal
StandardError=journal
SyslogIdentifier=tgbot-shopping-cart

[Install]
WantedBy=default.target
